<% if @items.empty? %>
  <div class="basket-title">
    <h1>Your Baskets: Not Just for Picnics Anymore</h1>
  </div>

  <div class="basket-container">
    <div class="basket-wrapper">
      <p>Your basket is empty 🧟</p>
    </div>
  </div>
<% else %>
  <div class="baskets-main-container">
    <div class="baskets-main-wrapper">
      <div class="baskets-checkout-container">
        <span class="baskets-question">How would you like to get your order?</span><br><br>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Email</label>
          <input type="text" class="form-control" id="formGroupExampleInput" value="<%= @user.email %>" disabled>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Card Number</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Account Number...">
        </div>

        <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="CVV" aria-label="CVV">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Expiry date (dd/mm/yyyy)" aria-label="Expiry date">
          </div>
        </div>
        <br>
        <div>
          <%= simple_form_for @order, data: { controller: 'delivery-location', action: "delivery-location#sendPickupCoordinates", delivery_location_api_key_value: "#{ENV['MAPBOX_API_KEY']}" } do |f| %>
            <div class="baskets-mapbox" data-delivery-location-target="map"></div>
            <%= f.input :latitude, as: :hidden, input_html: { data: { delivery_location_target: "latitude" } } %>
            <%= f.input :longitude, as: :hidden, input_html: { data: { delivery_location_target: "longitude" } } %>
            <%= f.submit 'Checkout', class: "button-30" %>
          <% end %>
        </div>
    </div>

    <div class="baskets-items-container">
      <div class="container">
          <% @items.each do |item| %>
            <div class="basket-item">
              <h2 clas><%= item.product.title %></h2>
              <p><%= item.product.description %></p>
              <p><strong>Price:</strong> <%= number_to_currency(item.product.price) %></p>
              <div class="qtyAndRemove">
                <p>Quantity: <%= item.quantity %></p>
                <div class="remove">
                  <%= simple_form_for item, url: basket_item_path(item), method: :delete do |f| %>
                    <%= f.submit "Remove", class: "btn btn-warning" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <p class="grand-total">Total: <%= total_price(@basket) %></p>
        </div>
    </div>
  </div>
<% end %>
