<%= render 'layouts/top_dashboard', page_title: 'My Products' %>

  <div class="container">
    <h1>Products</h1>
    <% @products.each do |product| %>
      <div>
        <p>Name: <%= product.title %></p>
        <p>Price: <%= product.price %></p>
      </div>
    <% end %>
  </div>

  <div class="container">
    <%= render 'products/form_product', product: @product %>
  </div>

<%= render 'layouts/btm_dashboard' %>
