<%= render 'layouts/top_dashboard', page_title: 'My Reservations' %>
  <div class="center-items mb-5">
    <h1>Reservations</h1>
  </div>

  <div class="container">
    <div class="reservation-items" style="display:flex; gap: 1rem;">
      <% @reservations.each do |reservation| %>
        <div class="card-order" style="width: 20%;">
          <div class="d-flex justify-content-between">
            <p><%= reservation.table.name %></p>
            <p><%= reservation.seats %> <i class="fa-solid fa-skull"></i></p>
          </div>
          <p>at: <%= reservation.start_time.strftime('%r') %></p>
        </div>
      <% end %>
    </div>
  </div>


  <% unless @past_reservations.empty? %>
    <div class="container">
      <h1>Past Reservations</h1>
      <div class="reservation-items" style="display:flex; gap: 1rem;">
        <% @past_reservations.each do |reservation| %>
        <div class="d-flex justify-content-between">
          <p>Table: <%= reservation.table.name %></p>
          <p>Seats: <%= reservation.seats %></p>
          <p>Start time: <%= reservation.start_time %></p>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
<%= render 'layouts/btm_dashboard' %>
