<div class="hero-background"></div>

<div class="hero-container">
  <div class="hero-wrapper"></div>
  <div class="centered">
    <div class="hero-content">
      <h1 class="hero-title">Monster Munchies</h1>
      <h3 class="hero-subtitle">Feast for the Eternal</h3>
    </div>

    <div class="hero-buttons">
      <%= link_to "Enter if You Dare", "/users/sign_in", class: "buttonHome" %>
      <%= link_to "Unearth Our Menu", "/products", class: "buttonHome" %>
    </div>
  </div>
</div>

<div class="products-display-container">
  <div class="product-display-wrapper">
    <div class="product-display-content">
      <div class="product-display-name">Spooky Atmosphere</div>
      <div class="product-display-text">
        Rustic wooden booths with tattered menus or mismatched chairs with strategically placed "Beware: May Bite" signs add to the theme!
      </div>
    </div>
    <div class="product-display-images">
      <div class="product-img">
        <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714870143/Monster%20Munchies/Menu/spectral_sliders_batcheditor_fotor_avpvqj.webp" alt="Spectral Sliders" class="img-res">
      </div>
      <div class="product-img">
        <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714870133/Monster%20Munchies/Menu/ghoul_s_gizzards_batcheditor_fotor_ph8f5z.webp" alt="Ghoul's Gizzards" class="img-res">
      </div>
      <div class="product-img">
        <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714870124/Monster%20Munchies/Menu/bloody_mary_s_revenge_batcheditor_fotor_te9x3h.webp" alt="Bloody Revenge" class="img-res">
      </div>
    </div>
  </div>
</div>


<div class="full-width-banner-container">
  <div class="full-width-title">Food so good, it'll raise the dead!</div>
  <div class="full-width-subtitle">Bringing your tastebuds back from the dead... with plants! (for vegetarian restaurant)</div>
</div>


<div class="accordion-container">
  <div class="accordion-title">FAQs</div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Will there be real zombies or mummies?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          Don't worry, our undead customers are strictly decorative! Our staff might be a bit on the theatrical side, but they're all very much alive (and well-trained).
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Do you have anything for vegetarians or people with allergies?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          We offer a variety of vegetarian and allergy-friendly options. Please let your server know about any dietary restrictions when you order.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Is it scary?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          Our atmosphere is more fun and quirky than scary. We have some spooky decorations, but it's all meant to be lighthearted and entertaining.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Can zombies have mummy food and vice versa?
        </button>
      </h2>
      <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          Absolutely! Our food isn't restricted to any particular undead clientele.
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            Our menu is a graveyard smash (get it?) featuring a variety of delectable dishes with fun and spooky names.  We cater to all appetites, whether you crave a juicy "Braised Brains" burger (don't worry, it's actually a delicious meatloaf!), a refreshing "Embalmed Elixir" mocktail, or a mummy-licious wrap with a flaky pastry crust. We also offer plenty of vegetarian and allergy-friendly options, so everyone can join the fun!
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><%= link_to  "Monstrous Mains", products_path %></li>
            <li><%= link_to  "Zombie Zest", products_path %></li>
            <li><%= link_to  "Dreadful Delicacies", products_path %></li>
            <li><%= link_to  "Ghastly Goodies", products_path %></li>
            <li><%= link_to  "Eerie Entrees", products_path %></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><%= link_to "Products", products_path %></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
        <a href="#">Monster Munchies</a>.
          </p>
        </div>
      </div>
    </div>
</footer>
