<section class="product-banner" style="background-image:url('https://res.cloudinary.com/dqjdq06qv/image/upload/v1714891264/dining_room_2_batcheditor_fotor_atblj1.webp');">
  <h1>Book your Table</h1>
</section>

<div class="container_signup">
  <div class="card form-bookings">
    <div class="card_title">
      <h1>Book a table</h1>
    </div>
    <div class="form">
      <%= simple_form_for @reservation  do |f| %>
        <div class="form-inputs">
          <%= f.input :table_id, collection: @tables %>
          <%= f.input :seats, label: "Number of Starving Monsters (Hoard capacity: 8)" %>
          <%= f.input :start_time %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Book me", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
