<section class="product-banner">
    <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714840470/undead_having_fun_at_the_bar_kfkmtj.webp" alt="Dining with the Undead" class="product-banner-img">
    <h1>Dine with the Undead</h1>
</section>

<!-- Sorting Form -->
<div class="sorting-container" style="text-align: center; margin-top: 20px;">
    <%= form_with(url: products_path, method: :get, local: true) do |form| %>
      <%= form.label :sort_by, "Sort by:", style: "color: white;" %>
      <%= form.select :sort_by, options_for_select([['Price (Low to High)', 'price asc'], ['Price (High to Low)', 'price desc'], ['Name (A-Z)', 'title asc'], ['Name (Z-A)', 'title desc']]), include_blank: true %>
      <%= form.submit "Sort", class: "btn btn-info" %>
    <% end %>
</div>

<!-- Product Cards Section -->
<div class="products-container mt-4">
    <div class="products-cards">
      <% @products.each do |product| %>
          <%= link_to product do %>
                <%= render 'product_card', product: product %>
          <% end %>
      <% end %>
    </div>
</div>

<section class="product-cuisine">
    <div class="custom-container">
        <div class="cuisine-content d-flex align-items-center">
            <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714843525/product-cuisine-about-2_sqesyo.webp" alt="Spooky culinary delights" class="cuisine-image">
            <div class="product-text-content">
                <h2>About Our Eerie Eats</h2>
                <p>Step into a world where each dish tells a tale of mystery and horror. At Monster Munchies, we specialize in creating culinary experiences that are not only mouth-watering but also mind-bending. From the depths of the undead kitchens, our recipes are conjured to thrill and chill.</p>
                <p>Our signature dishes, like the 'Sarcophagus Stew' and 'Mummy Wraps', use ingredients sourced from the darkest corners of the earth, seasoned with ancient herbs whispered in folklore. Dare to dine with us, and savor the taste of the unknown!</p>
            </div>
        </div>
    </div>
</section>
