<% @product = params[:id].present? ? Product.find(params[:id]) : Product.find(params[:basket_item][:product_id]) %>
<section class="product-banner">
    <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714840470/undead_having_fun_at_the_bar_kfkmtj.webp" alt="Dining with the Undead" class="product-banner-img">
    <h1>Dine with the Undead</h1>
</section>

<section class="product-detail-section">
    <div class="product-detail-container">
        <div class="product-image-container">
            <img src="<%= @product.image_url %>" alt="<%= @product.title %>" class="product-image">
        </div>
        <div class="product-info">
            <h1 class="product-title"><%= @product.title %></h1>
            <p class="product-description"><%= @product.description %></p>
            <h2 class="product-price">Price: <%= number_to_currency(@product.price) %></h2>
            <a href="<%= products_path %>" class="btn btn-secondary">Back to Products</a>
            <a href="<%= products_path %>" class="btn btn-primary">Add to Basket</a>
        </div>
    </div>
</section>
