<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= cl_image_tag("https://res.cloudinary.com/dqjdq06qv/image/upload/v1714825954/Monster-Munchies-logo_gjeqpt.webp", alt: "Monster Munchies", width: 50, height: 50, crop: :fill) %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <div class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= cl_image_tag("https://res.cloudinary.com/dqjdq06qv/image/upload/v1714825954/Monster-Munchies-logo_gjeqpt.webp", alt: "current_user.name", width: 40, height: 40, crop: :thumb, class: "rounded-circle") %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        </div>
      <% else %>
        <div class="navbar-nav ml-auto navbar-items-outside">
          <li class="nav-item">
            <%= link_to "Products", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Reservations", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</nav>
