
  <div class="sidebar">
    <div class="side-header d-flex gap-2">
      <a class="navbar-brand" href="/">
        <%= cl_image_tag("https://res.cloudinary.com/dqjdq06qv/image/upload/v1714877718/Monster%20Munchies/Logo/j5j7omufdpjorayq0lvo.webp", alt: "Monster Munchies", width: 50, height: 50, crop: :fill) %>
      </a>
      <h4>Dashboard</h4>
    </div>
    <hr class="hr-fix" />

    <div class="nav__container gap-2" data-controller="active-link">
      <% if current_user.admin? %>
        <a href=<%= my_products_path %> class="nav__link mt-3" data-active-link-target="link">
          <i class="fa-solid fa-biohazard"></i>
          <span class="nav__name">My Products</span>
        </a>

        <a href=<%= my_reservations_path %> class="nav__link" data-active-link-target="link">
          <i class="fa-solid fa-table-list nav__icon"></i>
          <span class="nav__name">My Reservations</span>
        </a>

        <a href=<%= my_orders_path %> class="nav__link" data-active-link-target="link">
          <i class="fa-solid fa-address-card"></i>
          <span class="nav__name">My Orders</span>
        </a>
      <% else %>
        <a href=<%= my_reservations_path %> class="nav__link" data-active-link-target="link">
          <i class="fa-solid fa-table-list nav__icon"></i>
          <span class="nav__name">My Reservations</span>
        </a>

        <a href=<%= my_orders_path %> class="nav__link" data-active-link-target="link">
          <i class="fa-solid fa-address-card"></i>
          <span class="nav__name">My Orders</span>
        </a>
      <% end %>
    </div>
  </div>
