<!DOCTYPE html>
<html>
  <head>
    <title>Monster Munchies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl-directions/4.3.1/mapbox-gl-directions.js" integrity="sha512-5AdyM826Rfp5JP2+1D+aorUfF7aagZDrqhoWcxGn7UoatxLXlRIkyhoKBbv9DhQ7Y8ejpHMOavVfacAn/Nuqsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= favicon_link_tag asset_path('https://res.cloudinary.com/dqjdq06qv/image/upload/v1714877718/Monster%20Munchies/Logo/j5j7omufdpjorayq0lvo.webp') %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" unless controller_name == "dashboard"%>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/gh/cnumr/ecoindex_badge@3/assets/js/ecoindex-badge.js" defer></script>
  </body>
</html>
