<!DOCTYPE html>
<html>
  <head>
    <title>Monster Munchies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" unless controller_name == "dashboard"%>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/gh/cnumr/ecoindex_badge@3/assets/js/ecoindex-badge.js" defer></script>
  </body>
</html>
